<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos da Turma</title>
</head>
<body>
<h1>Lista de Alunos da Turma</h1>

<form action="/salvarPresenca" method="post">
    <table>
        <tr>
            <th>Nome do Aluno</th>
            <th>Presença</th>
            <th>Falta</th>
        </tr>

        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.nome}"></td>
            <td><input type="radio" name="presenca_${aluno.id}" value="V"></td>
            <td><input type="radio" name="presenca_${aluno.id}" value="F"></td>
        </tr>
    </table>

    <input type="hidden" name="turmaId" th:value="${turmaId}">
    <button type="submit">Salvar Presenças</button>
</form>

<h2>Turma Selecionada:</h2>
<p th:text="${nomeTurma}"></p>
</body>
</html>