<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos da Turma</title>
    <link rel="stylesheet" href="paginas.css">
    <link rel="stylesheet" href="listaChamada.css">
</head>
<body>
<header>
    <a href="/"><img src="img/img_logo.jpg" alt="" width="100px" height="100px"></a>
</header>
<nav>
    <ul>
        <li><a href="/cadastrarAluno">Cadastrar Aluno</a></li>
        <li><a href="/cadastrarTurma">Cadastrar Turma</a></li>
        <li><a href="/presenca">Dar Presença</a></li>
        <li><a href="/listaTurmas">Lista de Turmas</a></li>
        <li><a href="/listaAlunos">Lista de Alunos</a></li>
    </ul>
</nav>

<h1>Lista de presença</h1>

<div class="center">
    <ul class="row">
        <li><h4 th:text="${nomeTurma}"></h4></li>
        <li><h4>Sala: <span th:text="${salaTurma}"></span></h4></li>
        <li> <h4>Data de Lançamento: <span th:text="${dataLancamento}"></span></h4></li>
    </ul>

</div>

<form action="/salvarPresenca" method="post">
    <table class="container tabelaAluno">
        <tr>
            <th>Nome do Aluno</th>
            <th>Presença</th>
            <th>Falta</th>
        </tr>

        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.nome}"></td>

            <td>
                <input type="checkbox" name="presenca" th:value="${aluno.id}" th:checked="${aluno.presenca eq 'Presenca'}">
                Presença
            </td>
            <td>
                <input type="checkbox" name="falta" th:value="${aluno.id}" th:checked="${aluno.presenca eq 'Falta'}">
                Falta
            </td>
        </tr>

    </table>

    <input type="hidden" name="nomeTurma" th:value="${nomeTurma}">
    <input type="hidden" name="datalancamento" th:value="${dataLancamento}">
    <input type="hidden" name="turmaId" th:value="${turmaId}">

    <button type="submit">Salvar Presenças</button>
</form>

</body>
</html>